<html>	
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="chrome=1"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>writi.ca &mdash; about page</title>
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->
		
		<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'/>
		<link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'/>
		<link href='http://fonts.googleapis.com/css?family=Unkempt' rel='stylesheet' type='text/css'/>
        <link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'/>
        <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'/>
        <link href='http://fonts.googleapis.com/css?family=PT+Serif+Caption:400,400italic' rel='stylesheet' type='text/css'/>
        <link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'/>
		<link href="/images/favicon2.ico" rel='shortcut icon' type='image/x-icon'>				

        <link href="stylesheets/styles.css" type="text/css" rel="stylesheet">

  		<!--<%= javascript_include_tag 'jquery.min' %> -->
  		<!--<%= javascript_include_tag 'jquery_ujs' %>-->
  		<!--<%= javascript_include_tag 'application' %>  		-->
  		<!--<%= csrf_meta_tag %>-->
		
        <style type="text/css">
            body {
	            font-family: 'Unkempt', cursive;
	            font-size: 16px;
	            background-color: #202020;
	            color: #f5f5f5;
	            -webkit-text-size-adjust: 100%;  /* Stops Mobile Safari from auto-adjusting font-sizes */
                /*margin: 100px 400px 100px 400px;*/
            }
        </style>
</head>
<body>
    <header id="header">
		<hgroup>
			<h1>
				<a href="/">writi.ca</a>
			</h1>
			<h2>&mdash; publish elegant pages</h2>
		</hgroup>
	</header>

    <section id="body">
    <div id="menu_bar">
        <ul id="navigationMenu">
            <li>
	            <a class="home" href="/">
                    <span>Home</span>
                </a>
            </li>
            <li>
    	        <a class="about" href="#">
                    <span>About</span>
                </a>
            </li>
            <li>
	            <a class="services" href="#">
                    <span>Services</span>
                </a>
            </li>
            <li>
    	        <a class="twitter" style="background:url('/images/twitter_icon3.png') no-repeat;" href="http://twitter.com/WritiCa">
                    <span>Twitter</span>
                </a>
            </li>
            <li>
    	        <a class="contact" href="mailto:service@writi.ca?subject=Hello%20from%20a%20Customer&body=You%20are%20so%20great!">
                    <span>Contact us</span>
            </a>
            </li>
        </ul>
    </div>

    <div class="text_container">
		<h3>About page </h3>
		<br/>
		<p>writi.ca - is the easiest way to publish online.
		    <br/>
            <br/>
            Past in the input field your favorite joke or the article you have just reviewed and save as a page. Now you can easily share it with your friends.
            <br/>
            <br/>
		    Are you working on the business or marketing plan for the project? Make a quick sketch of you work and send it as a page within writi.ca to your stakeholder. S/he can easily edit or update the quotes, text abstracts and save the new version on the same page.
		    <br/>
            <br/>
		    Wanna make your page private and prevent from changes by others? Just check the privacy box and you will make the page as read-only.
		    <br/>
            <br/>
		    Have you found an online book that you have been looking for ages? Share it with friends by publishing with writi.ca. There is no need to upload the book to file sharing services. Just save it as a page and send a link to others.
		    <br/>
            <br/>
		    Are you a student working on an essay? Make a content, put your marks there and share the page with your supervisor. There is no need to use web-mail services, with writi.ca text can be easily formated, updated without back-and-force sets of e-mails.
            <br/>
		    <br/>
		    Moreover, the way your text will look is amazing. Every quote you populate, every direct speech you write is autoformated and gives you nice and pleasant view comparable with a real book from the shelf.
		    <br/>
		    <br/>
            <br/>
		    Enjoy typography with us!</p>
	</div>
    </section>

    <footer id="footer">
		<!--<% if content_for?(:footer) %>-->
		  <!--<%= yield(:footer) %>-->
		<!--<% else %>-->
            <footer class="icon_area">
			    <a href="http://twitter.com/#!/WritiCa" target="_blank" title="Follow us on Twitter">
			    <img src="images/twitter_icon2.png" width="40" height="40" hspace="5" alt="lorem"></a>
		    </footer>
		    <hgroup>
                <a href="/">Back to the home page</a>
            </hgroup>
            <footer class="text_area">
				Copyright Writi.ca &copy; 2011
			</footer>
		<!--<% end %>-->
	</footer>

</body>
</html>